<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css"
    href=
    "{% static 'hello_world/site.css' %}"
    />
</head>
<body>
    <div class="navbar">
        <a href="{% url 'home' %}" 
        class="navbar-home">Início</a>
        <a href="{% url 'sobre' %}"
        class="navbar-item">Sobre</a>
        <a href="{% url 'contato' %}"
        class="navbar-item">Contato</a>
        <a href="{% url 'mensagens' %}"
        class="navbar-item">Mensagens</a>
        {% if user.is_authenticated %}
            <p>Olá {{ user.username }}! </p>
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'login' %} "
            class="navbar-item"> Login </a>
            <a href="{% url 'signup' %}"
            class="navbar-item"> Cadastre-se </a>
            <a href="{% url 'password_reset' %}"> Esqueci a minha senha </a>
        {% endif %}
    </div>
    <div class="body-content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>